
 /* margin or padding : 상 우 하 좌(시계방향); */

#containers {
    /* 절대값으로 컨테이너 같은 부모에 지정하고,
        내부에 있는 박스들은 크기지정을 하지 않는게 좋다.
        (반응형)
    */
    width: 600px;
    border: 1px solid gray;
    margin: 10px auto;
    padding: 20px;
}

h1{
    background-color: #004344;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h3{
    color: red;
}

ul{
    list-style: none;
    margin: 20px;
}