*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #dbdbdb;
}

.signup-container{
    width: 380px;
    padding: 30px;

    background-color: whiter;
    border-radius: 8px;

    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
    /* 위자우아래 */
}

.signup-title{
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 18px;
}

.form-group input{
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

.form-group label{
    display: block;
    margin-bottom: 6px;

    font-size: 12px;
}

.signup-btn{
    width: 100%;
    padding: 6px;
    border: none;

    background-color: #dbdbdb;

    cursor: pointer;
}

.signup-btn{
    background-color: #ccc;
}

.error-message{
    font-size: 12px;
    color: #e03131; 
}