* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 70px;
    background-color: #333;
    color: white;

    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    /* flex-grow: 남은여백 지분 */
    flex-grow: 0;
}

.menu-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li {
    cursor: pointer;
}

.cart {
    flex-grow: 0;
    cursor: pointer;
}


main {
    width: 100%;
}

.product-list{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    padding: 20px;
}

.product-card{
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;

    /* 상품담기는 아래에 */
    justify-content: space-between;
}

.product-card h3{
    font-size: 14px;
    margin: 10px 0;
}


.title {
    /* 못적음 */
    font-size: 12px;
    margin: 10px 0;
}

.price{
    font-weight: 600;
    margin-bottom: 10px;
}

.product-card button {
    width: 100%;
    padding: 4px;
    cursor: pointer;
}



.image-box{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image-box img{
    width: 100%;
    height: 100%;
}

/* tailwind css */
/* ai는 보통 css를 tailwind로 만든다  -- 근데, tailwind가 뭐임*/ 
/* 모달창 */

.modal-overlay{
    /* 가존 요소들의 영향을 받지 않고, 화면 전체에 다 띄우는 방법 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width:100%;
    height:100%;
 
    /* 투명도 적용할거임 */
    background-color: rgba(0,0,0,0.5);
    
    /* flex-중앙정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 장바구니 좀 더 꾸밀거임 */

.cart-modal {
    width: 480px;
    height: 60vh;
    /* 내화면의 80퍼센트 */
    background-color: #ddd;
    border-radius: 8px;

    /* 장바구니 좀 더 꾸밀거임 */
    display: flex;
    flex-direction: row;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.close-btn{
    border: none;
    font-size: 18px;
    cursor: pointer;
    /* 배경을 투명하게 */
    background: none;
}

.cart-list{ /* ul */
    list-style: none;
    padding: 10px;
    overflow-y: auto;
}

.cart-item{ /* li */
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 0; /* li들간의 간격을 벌려주기 위해서 */
    border-bottom: 1px solid #eee;
}

.cart-item img{
    width: 50px;
    flex-grow: 0;
}

.cart-info{
    flex-grow: 1; /* 여백을 info만 가져가게 되는거임 물론 0은 안줘도 된다 */
}

.cart-info .title{
    font-size: 16px;
}

.cart-infor .price{
    font-size: 12px;
    font-weight: 600
}

.quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity button {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.delete-btn{
    flex-grow: 0;
    cursor: pointer;
    border: none;
    background-color: rgb(196,2,2);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;

    /* 요소안의 텍스트 줄바꿈 감지 */
    white-space: nowrap;
}

/* 닫기 버튼 수정해주기 */
.modal-footer{
    text-align: center;
    padding: 10px;

    border-top: 1px solid #eee;
}







/* 밑에 달아여 하는 이유 :
   modalOverlay에도 display를 지정하는 속성이 있음
   가장 아래에 배치된 display 속성이 덮어쓴다..
   display:none -> display:flex이면 당연히 오류가 남
*/
.hidden {
    display: none;
}