body {
  padding: 24px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead, tfoot {
  background-color: #f8f8f8;
}

td, th {
  border: 1px solid #ddd;
  padding: 16px 24px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}